.header-hamburger-container {
  background-color: #dda15e;
  border-bottom: 1px solid #bc6c25;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  .header-hamburger-right-name {
    font-family: math;
    color: #fefae0;
    font-size: 30px;
    margin: 10px;
    margin-left: 25px;
  }
  .header-hamburger-button {
    border: 1px #fefae0;
    background-color: #fefae000;
    color: #fefae0;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    font-size: 30px;
    margin: 10px;
  }
}
.header-link-nav{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    .header-link-nav-ham {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 150%;
      background-color: #606c3885;
      color: #fefae0;
      font-family: math;
      font-size: 20px;
      border: 1px solid #fefae04d;
      border-radius:5px;
      box-shadow: rgba(136, 165, 191, 0.459) 6px 2px 16px 0px, rgba(255, 255, 255, 0.151) -6px -2px 16px 0px;
    }
}

