body {
  background-color: #fefae0;
}
.home-container {
  margin-top: 15%;
  margin-bottom: 10%;
  .home-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    .home-avatar {
      border-radius: 50%;
      width: 300px;
      height: 300px;
      margin: 1% 2%;
    }
  }
  .home-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .home-row {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 10px;

      .home-title {
        font-size: 30px;
        font-family: math;
        color: #606c38;
      }
      .home-myname {
        font-size: 50px;
        font-family: math;
        color: #606c38;
      }
    }
    .home-description {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      font-family: math;
      color: #606c38;
    }
  }
  .home-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    .home-btn {
      border-radius: 50px;
      background-color: #606c3885;
      color: #fefae0;
      height: 50px;
      width: 160px;
      border: #606c38;
      font-size: 18px;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
      &:hover {
        cursor: pointer;
        background-color: #606c38d7;
      }
    }
  }
}
