@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
body {
  background-color: #fefae0;
}
.home-container {
  margin-top: 7%;
  margin-bottom: 4%;
  @media screen and (max-width: 681px) {
    margin-top: 20%;
    margin-bottom: 50%;
    // margin-left: 20%;
  }
  .home-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    .home-avatar {
      background-repeat: no-repeat;
      background-position: center;
      animation: morph 8s ease-in-out infinite 2s;
      border-radius: 50%;
      width: 300px;
      height: 300px;
      margin: 1% 2%;
      @media screen and (max-width: 650px) {
        width: 200px;
        height: 200px;
      }
    }
  }
  .home-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .home-row {
      @media screen and (max-width: 681px) {
        // margin-left: 12%;
        margin-top: 8%;
        flex-direction: column;
      }
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 10px;

      .home-title {
        font-size: 30px;
        font-family: math;
        color: #606c38;
        @media screen and (max-width: 650px) {
          font-size: 25px;
        }
      }
      .home-myname {
        @media screen and (max-width: 681px) {
          font-size: 20px;
        }
        font-size: 50px;
        font-family: math;
        color: #606c38;
        @media screen and (max-width: 681px) {
          font-size: 30px;
        }
      }
    }
    .home-description {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      font-family: math;
      color: #606c38;
      @media screen and (max-width: 650px) {
        font-size: 20px;
      }
    }
    .home-touch {
    
      display: flex;
      justify-content: flex-start;
      align-items: center;
      // flex-direction: row;
      line-height: 150%;
      margin-top: 1%;
      font-size: 21px;
      font-family: math;
      color: #584937c9;
    }
    .home-contact {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;

      line-height: 150%;
      font-size: 16px;
      font-family: math;
      color: #584937c9;
      .home-contact-tel {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
      }
      .home-contact-mail {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
      }
    }
  }
  .home-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    .home-btn {
      border-radius: 50px;
      background-color: #606c3885;
      color: #fefae0;
      height: 50px;
      width: 160px;
      border: #606c38;
      font-size: 18px;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
      &:hover {
        cursor: pointer;
        background-color: #606c38d7;
      }
    }
  }
}
a {
  color: #584937a8;
}
