body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  // overflow-x: hidden;
}

.main-header-container {
  @media screen and (max-width: 683px) {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 200px;
  }
  padding: 0 300px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #dda15e;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #bc6c25;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: math;
    color: #fefae0;
  }
  .header-profile-name {
    font-size: 30px;
    margin: 13px 35px;
    @media screen and (max-width: 376px) {
      padding: 0 9px;
      margin: 15px;
    }
    @media screen and (max-width: 376px) {
      padding: 0 5px;
      margin: 15px;
    }
  }

  .header-container-right {
    // padding-right: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #fefae0;
  }

  .header-container-right-title {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    gap: 10px;
    font-family: math;
    .header-link {
      color: #fefae0;
      text-decoration: none;
      font-size: 17px;
      transition: all 350ms;
      &:hover {
        transform: scale(0.9);
        cursor: pointer;
        color: rgb(255, 254, 240);
      }
    }
  }

  .btn {
    border: none;
    background-color: #dda15e;
    width: 100px;
    color: #fefae0;
    font-size: larger;
    &:hover {
      cursor: pointer;
      font-size: 1px;
      color: aliceblue;
    }
  }
}
.btn-resume {
  border: none;
  background: none;
  font-family: math;
  font-size: 17px;
  color: beige;
  padding: 0;
}
