.mainfooter-container {
  border-top: 2px solid black;
  flex: 1;

  .footer-container {
    font-family: math;
    position: sticky;
    left: 50%;
    bottom: 0;
    // min-height:10000px;
    top: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
