.mainfooter-container {
  background-color: #fefae0;
  border-top: 1px solid #bc6c25;
  .footer-container {
    font-family: math;
    color: #bc6c25;
    position: sticky;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer-icon-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 10px;
      margin-right: 10px;
    }
    .footer-icon {
      color: #bc6c25;
    }
  }
}
