.about-container {
  padding: 15% 10%;
  .top-about-container {
    .top-about-title-one {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1% 2%;
      font-size:30px;
      font-family: math;
    }
    .top-about-title-two {
      margin: 1% 2%;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: math;
    }
    .top-about-prgrph {
      font-size: 20px;
      padding: 2% 10%;
      font-family: math;
    }
  }
  .bottom-about-title {
    margin: 5% 2%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: math;
    text-transform: uppercase;
  }
  .bottom-about-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
