body {
  background-color: #fefae0;
}
.about-container {
  margin: 7% 10%;
  .top-about-container {
    // margin: 7% 10%;
    .top-about-title-one {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1% 2%;
      font-size: 30px;
      font-family: math;
      color: #283618;
    }
    .top-about-title-two {
      margin: 1% 2%;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: math;
      color: #283618;
    }
    .top-about-prgrph {
      font-size: 20px;
      padding: 4% 10%;
      font-family: math;
      color: #283618;
    }
  }
  .bottom-about-title {
    margin: 1% 2%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: math;
    text-transform: uppercase;
    color: #283618;
  }
  .bottom-about-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    @media screen and (max-width: 764px) {
      flex-direction: row;
    }
  }
}
.img-in-about {
  margin: 10px;
  width: 55px;
}
