body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.layout-header {
  @media screen and (max-width: 681px) {
    position: sticky;
    // bottom: 0;
    right: 0;
    left: 0;
    width: fit-content;
  }
  height: 60px;
  background-color: #ccc;
}

.layout-main {
  @media screen and (max-width: 681px) {
  }
}

.layout-footer {
  @media screen and (max-width: 681px) {
  }
  height: 40px;
  background-color: #ccc;
}
