.layout-header {
    height: 60px;
    background-color: #ccc;
  }
  
  .layout-main {
    flex: 1;
    overflow-y: auto;
  }
  
  .layout-footer {
    height: 40px;
    background-color: #ccc;
  }
  